# This is the root config for this project
config.stopBubbling = true

# No need for test coverage on Lombok generated code with JaCoCo
lombok.addLombokGeneratedAnnotation = true

# Use Objects.requireNonNull() to avoid creating branches
lombok.nonNull.exceptionType = JDK

# Use Java 11 var
lombok.val.flagUsage = error
lombok.var.flagUsage = error

# Use Java 7 try-with-resources
lombok.cleanup.flagUsage = error

# Use Slf4j
lombok.log.custom.flagUsage = error
lombok.log.apacheCommons.flagUsage = error
lombok.log.flogger.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error
