Kotlin Library - Maven Archetype
================================

[![Build Status](https://travis-ci.org/gantsign/maven-archetypes.svg?branch=master)](https://travis-ci.org/gantsign/maven-archetypes)
[![Maven Central](https://maven-badges.herokuapp.com/maven-central/com.github.gantsign.maven.archetypes/kotlin-library-maven-archetype/badge.svg)](https://maven-badges.herokuapp.com/maven-central/com.github.gantsign.maven.archetypes/kotlin-library-maven-archetype)
[![License](https://img.shields.io/badge/license-MIT-blue.svg)](https://raw.githubusercontent.com/gantsign/maven-archetypes/master/LICENSE)

Features
--------

There's a lot of project setup required for an application these days. Far more
than the skeleton POM and a couple of classes provided by the standard Maven
archetype. The GantSign Maven Archetype provides the following:

* `.gitattributes` the text/binary handling for common file types.
* `.gitignore` using [gitignore.io](http://gitignore.io) templates to ignore
  common operating system files, editor files, Java and Maven files that
  shouldn't be versioned.
* `.editorconfig` configure line endings, indent and file encodings for common
  editors/IDEs using [EditorConfig](http://editorconfig.org).

* IntelliJ IDEA config

    * JDK version
    * [Save Actions plugin](https://plugins.jetbrains.com/plugin/7642-save-actions)
    * [GantSign code style](https://github.com/gantsign/code-style-intellij)
    * [GantSign inspection profile](https://github.com/gantsign/inspection-profile-intellij)

* Maven

    * Java version
    * File encoding
    * Reports
    * Minimum Maven version
    * Plugin versions

* Maven plugins

    * [flatten](https://www.mojohaus.org/flatten-maven-plugin/)
      optimize the deployed POM by flattening parent POMs and stripping
      unnecessary information.
    * [reproducible-build](http://zlika.github.io/reproducible-build-maven-plugin/)
      helps with Docker layer reuse.
    * [ktlint](https://github.com/gantsign/ktlint-maven-plugin) plugin that uses
      [ktlint](https://github.com/shyiko/ktlint) to format and check Kotlin code
      for style issues.
    * [sortpom](https://github.com/Ekryd/sortpom/wiki): make the `pom.xml`
      easier to version control.
    * [enforcer](http://maven.apache.org/enforcer/maven-enforcer-plugin/):
      ensure builds are reproducible and there are no class conflicts.
    * [license](http://www.mojohaus.org/license-maven-plugin/):
      ensure files include a license header.
    * [dependency](http://maven.apache.org/plugins/maven-dependency-plugin/analyze-only-mojo.html):
      ensure dependencies are declared correctly.
    * [jdeps](https://maven.apache.org/plugins/maven-jdeps-plugin/): check for
      use of internal APIs (prepare for Java 9).
    * [jacoco](http://www.eclemma.org/jacoco/trunk/doc/maven.html): enforce
      minimum code coverage.

* Post-generation script

    * Installs [Maven Wrapper](https://github.com/takari/maven-wrapper).
    * Runs the [sortpom](https://github.com/Ekryd/sortpom/wiki) plugin to
      reformat the POM.

* Security scanning

    This archetype includes the
    [SpotBugs Maven Plugin](https://spotbugs.github.io/spotbugs-maven-plugin)
    with the [Find Security Bugs](https://find-sec-bugs.github.io) plugin for performing static
    analysis on the code. The static analysis can be quite time consuming so it's not run by
    default.

Requirements
------------

* Java 1.8
* Maven 3.5

Usage
-----

To create a new project from this archetype, type:

```bash
mvn archetype:generate \
    -DarchetypeGroupId=${project.groupId} \
    -DarchetypeArtifactId=${project.artifactId} \
    -DarchetypeVersion=${project.version}
```

You may find it easier to specify the archetype properties on the command line
rather than interactively:

```bash
mvn archetype:generate \
    -DarchetypeGroupId=${project.groupId} \
    -DarchetypeArtifactId=${project.artifactId} \
    -DarchetypeVersion=${project.version} \
    -DgroupId=com.gantsign.TODO \
    -DartifactId=TODO \
    -Dversion=1.0.0-SNAPSHOT \
    -Dpackage=com.gantsign.TODO \
    -DprojectName=TODO \
    '-DorganizationName=GantSign Ltd.' \
    -DcopyrightStartYear=2018
```

License
-------

This software is licensed under the terms in the file named "LICENSE" in the
root directory of this project.

Author Information
------------------

John Freeman

GantSign Ltd.
Company No. 06109112 (registered in England)
